*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgb(36, 33, 33);
}
.container{
    width: 800px;
    height: 150px;
    padding: 25px;
}
.circle{
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 50%;
    position: relative;
    left: 0;

    animation-name: white-circle;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-delay: 0s;
    animation-fill-mode: backwards;
}

.container:hover .circle{
    animation-play-state: paused;
}

@keyframes white-circle{
    0%{
        left: 0;
    }
    50%{
        border-radius: 0%;
        background-color: rgb(255, 0, 0);
    }
    100%{
        left: 500px;
    }
}